body {
  background-color: #f1f3f6;
}

.footer {
  background-color: #0000ff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Nanum Gothic Coding', monospace;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

button{
  border: none;
  background-color: white;
  color: gray;
}

button:hover {
  border: none;
  background-color: white;
  color: white;
}

.main-title {
  margin-top: 20%;
  font-size: 500%;
  text-align: center;
}

.end {
  color: red;
}

.fuck {
  margin-top: 10%;
}
